aws_region                = "ap-south-1"
project_name              = "customer-complaint-responder"
vpc_cidr                  = "10.0.0.0/16"
public_subnets_cidrs      = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]
private_subnets_cidrs     = ["10.0.4.0/24", "10.0.5.0/24", "10.0.6.0/24"]
kubernetes_version        = "1.29"
ecr_repository_names      = ["poller", "worker"]
private_mail_host         = "mail.privateemail.com"
imap_port                 = "993"
smtp_port                 = "587"
redis_stream_name         = "email:inbound"
redis_consumer_group_name = "ccr-complaint-worker"

# Sensitive variables (replace with your actual credentials/secrets)
google_api_key        = "YOUR_GOOGLE_API_KEY"
mistral_api_key       = "YOUR_MISTRAL_API_KEY"
private_mail_email_id = "your-email@example.com"
private_mail_password = "your-email-password"

# Optional: ArgoCD private GitHub repository token (if used)
github_pat            = "ghp_xxxxxxxxxxxxxxxxxxxx"
