aws_region                = "your_aws_region_here"
project_name              = "your_project_name_here"
vpc_cidr                  = "your_vpc_cidr_here"
public_subnets_cidrs      = ["your_public_subnet_1_cidr", "your_public_subnet_2_cidr", "your_public_subnet_3_cidr"]
private_subnets_cidrs     = ["your_private_subnet_1_cidr", "your_private_subnet_2_cidr", "your_private_subnet_3_cidr"]
kubernetes_version        = "your_kubernetes_version_here"
ecr_repository_names      = ["your_repository_name_1", "your_repository_name_2"]
private_mail_host         = "your_private_mail_host_here"
imap_port                 = "your_imap_port_here"
smtp_port                 = "your_smtp_port_here"
imap_poll_interval        = "your_imap_poll_interval_here"
redis_stream_name         = "your_redis_stream_name_here"
redis_consumer_group_name = "complaint-workers"
